<div class="row">
<div class="col-md-10 col-md-offset-1">

<table class="table table-striped" align="text-center" style="text-align:center">
<tr>
<th style="text-align:center" align="center" style="width:20%">Date</th>
<th align="center" style="width:5%"><a href="/modules">Module</a></th>
<th style="text-align:center" align="center" style="width:55%">Topics</th>
<th align="center" style="width:5%">Read</th>
<th align="center" style="width:5%">Code</th>
<th align="center" style="width:5%">Homework</th>
</tr>

{{ range $.Site.Data.lessons }}
{{range . }}
<tr>
<td align="center">{{ .date }}</td>
<td align="center"><b>{{ .module | safeHTML }}<b/></td>
<td align="center">{{if .topics }}{{ .topics | safeHTML }}{{ end }}</td>

{{ if .reading }}
<td align="center"><a href="{{ .Site.baseurl }}/{{ .reading }}">
<i class="fa fa-book fa-lg"></i></a></td>
{{ else }}
<td align="center"><font color="f1f1f1">
<i class="fa fa-book fa-lg"></i></font></td>
{{ end }}

{{ if .code }}
<td align="center"><a href="{{ .Site.baseurl }}/{{ .code }}.html">
<i class="fa fa-code fa-lg"></i></a></td>
{{ else }}
<td align="center"><font color="f1f1f1">
<i class="fa fa-code fa-lg"></i></font></td>
{{ end }}


<td align="center">{{if .homework}}
<a href="{{ .homework }}">
<i class="fa fa-puzzle-piece"></i></a>{{ end }}</td>

</tr>
{{ end }}
{{ end }}

</table>


</div>
</div>
